<article id="<%= answer.id %>">

  <div class='vote-post'>
    <table width="100%">
      <tr>
      <td width="5%" align="center">
        <!-- UPVOTE DOWNVOTE -->
        <!-- <a href=""></a>  AJAX THESE FORMS-->

      <form method="post" action='/answers/<%= answer.id %>/up_vote' class="up-vote">
        <button type="submit" name="submit_param" value="submit_value" id="upvote-button" class="upvote-button"></button>
      </form>

      <!--vote count -->
      <span id="vote_<%=answer.id%>" class='vote-count-post'><%=answer.points%></span>

      <!-- DOWNVOTE -->
      <form method="post" action='/answers/<%= answer.id %>/down_vote' class="down_vote">
        <button type="submit" name="submit_param" value="submit_value" class="downvote-button"></button>
      </form>
      </td>

      <td>
        <p class='description'><%= answer.description %></p>
      </td>
      </tr>

      <tr>
      <td colspan="2">
      <span class="article_details"><%= "Written on #{long_form_date(answer.created_at)} by #{User.find(answer.answerer_id).username}." %></span>
      </td>
      </tr>

      <tr>
      <td colspan="2">
      <div class="comments">
      <%answer.comments.each do |comment| %>

      <p id='comment-description'>
        <%=comment.description%>
      </p>

      <span class="question_details"><%= "Written on #{long_form_date(comment.created_at)} by #{User.find(comment.user_id).username}." %></span>
      <hr>
      <% end %>

      </div>
      <% if current_user %>
      <span><a href="/answers/:id/comments" class="new_comment_link">New Comment</a></span>
      <% end %>
      </td>
      </tr>
    </table>
  </div>
  <hr>
</article>