<div id="inner-content-container">

  <div id="question-header">
    <form action="">CREATE FORM FOR UPVOTING/DOWNVOTING QUESTION</form>

    <h2><%= @question.title %></h2>

<!--     <div id="ask-question-button" role="navigation" label="ask question">
      <a href="/questions/new">Ask Question</a>
    </div> -->
  </div>

  <div id="question-description">
    <p>
      <%= @question.description %>
    </p>



  </div>
  <hr>

  <div id="question-comments" class="comments">
    <% @question.comments.each do |comment| %>
      <p>
        <%=comment.description%>
      </p>
      <p>
        <!-- TODO: Remove if Hawken is not using it -->
        <% comment_author = User.find(comment.user_id) %>
        <span class='user_id question_details'><% comment_author.username %></span>
        <span class='timestamp question_details'><%comment.created_at %></span>

        <span class="question_details"><%= "Written on #{long_form_date(comment.created_at)} by #{User.find(comment.user_id).username}." %></span>

        <hr>
      </p>
    <% end %>
    <span>  <a href="/questions/:id/comments" class="new_comment_link">New Comment</a></span>
  </div>

  <br>
  <h3><%= @answers.length %> Answers</h3>
  <hr>
  <div id="answers">
    <% @answers.each do |answer| %>

        <%= erb :'_answers', locals: {answer: answer} %>

    <% end %>
  </div>

      <br>
      <h3>Have an answer?</h3>
      <hr>
        <form action='/questions/<%=@question.id%>/answers' method='\\\\' class='new-answer'>
          <input type="text" name="description" placeholder="enter answer here:">
          <input type="submit" value="submit">
        </form>
</div>